<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("layouts.header.logo"), root_path, id: t(".logo_text") %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".home"), root_path %></li>
        <li><%= link_to t(".about"), about_path %></li>
        <li><%= link_to t(".contact"), contact_path %></li>
      </ul>
    </nav>
  </div>
</header>
